
<div class="hero-wrapper-internal">
  <div class="container-xl">
    <div class="hero-flex-row">
      <div class="hero-flex-col-internal-shop">
        <div class="hero-flex-col-inner-internal-press">
          <h1 class="hero-heading">{{section.settings.main_heading}}</h1>
          <h2 class="hero-sub-heading">{{section.settings.sub_heading}}</h2>
          <div class="hero-btn-wrapper"><a href="#" class="btn-main-hero w-button">Join OUr List</a></div>
        </div>
      </div>
      <div class="hero-flex-col-large-internal-shop">
        <div class="hero-flex-bg-holder-internal hero-flex-bg-blog" {% if section.settings.hero_image %}style="background-image: url('{{ section.settings.hero_image | img_url: '1400x' }}');"{% endif %}></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Section" ,
      "settings": [
        {
           "type": "text",
           "id": "main_heading",
           "label": "Heading Text"
        },
        {
           "type": "text",
           "id": "sub_heading",
           "label": "Sub Heading Text"
        },
         {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
         }
    ]
  }
{% endschema %}