{% if section.blocks.size > 0 %}
  <div class="container-s">
    <h2 class="blog-heading">{{ blog.title }}</h2>
    <div class="jc-blog-tags-list">
      {% for block in section.blocks %}
        <a class="jc-blog-tag__link" href="{{ blog.url }}/tagged/{{ block.settings.tag | handle }}">
          {{ block.settings.tag }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Blog Tags",
    "settings": [],
    "blocks": [
      {
        "type": "tag",
        "name": "Tag",
        "settings": [
          {
            "type": "text",
            "id": "tag",
            "label": "Tag"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Blog tags"
      }
    ]
  }
{% endschema %}