<div class="hero-nav-section">
  <div class="container-large">
    <div class="hero-nav-wrapper">
      <div data-collapse="medium" data-animation="over-right" data-duration="400" class="hero-nav w-nav">
        <div class="container-large w-container">
          <nav role="navigation" class="hero-nav-menu w-nav-menu"><a href="/" class="nav-link nav-link-first w-nav-link">Home</a>
            <div data-hover="1" data-delay="0" class="w-dropdown nav-dropdown">
              <div class="nav-link nav-link-dropdown w-dropdown-toggle">
                <div class="nav-dropdown-text">About Us</div>
              </div>
              <nav class="nav-dropdown-list-mega w-dropdown-list">
                                <div class="nav-flex-row-mega">
                                  <div class="nav-flex-col-mega nav-flex-col-mega-menu">
                                    <div class="nav-flex-col-mega-inner">
                                      <a href="/pages/our-roots" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Our Story</div>
                                      </a>
                                      {% comment %}
                                      <a href="/pages/volunteer" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Volunteer</div>
                                      </a>
                                      {% endcomment %}
                                      <a href="/pages/artisans" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Artisans</div>
                                      </a>
                                      <a href="/pages/our-impact" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Impact</div>
                                      </a>
                                      <a href="/pages/our-leadership" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Our Leadership</div>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/our-roots" class="nav-flex-link-mega w-inline-block">
                                      <div class="nav-flex-link-mega-text">Our Story</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/our-leadership" class="nav-flex-link-mega nav-flex-link-mega-2 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Leadership</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/artisans" class="nav-flex-link-mega nav-flex-link-mega-3 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Artisans</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/our-impact" class="nav-flex-link-mega nav-flex-link-mega-4 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Impact</div>
                                    </a>
                                  </div>
                                </div>
                   </nav>
            </div>
            <div data-hover="1" data-delay="0" class="w-dropdown nav-dropdown">
              <div class="nav-link nav-link-dropdown w-dropdown-toggle">
                <div class="nav-dropdown-text">Shop&nbsp;</div>
              </div>
              <nav class="nav-dropdown-list-mega nav-dropdown-list-mega-2 w-dropdown-list">
                                <div class="nav-flex-row-mega">
                                  <div class="nav-flex-col-mega nav-flex-col-mega-menu">
                                    <div class="nav-flex-col-mega-inner">
                                      <a href="/collections/all" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Shop All</div>
                                      </a>
                                      <a href="/collections/just-launched" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>New Arrivals</div>
                                      </a>
                                      <a href="/collections/imani-wall-hangings-collection" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Banners</div>
                                      </a>
                                      <a href="/collections/backpacks" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Backpacks</div>
                                      </a>
                                      <a href="/collections/imani-rugs-collection" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Rugs</div>
                                      </a>
                                      <a href="/collections/baskets" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Turkana Collection</div>
                                      </a>
                                      <a href="/collections/imani-pillow-collection" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Pillows</div>
                                      </a>
                                      <a href="/collections/interactive-play" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Interactive Play</div>
                                      </a>
                                      {% comment %}
                                      <a href="/collections/imani-rugs-collection" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Wovens</div>
                                      </a>
                                      {% endcomment %}
                                      <a href="/collections/imani-holiday-collection" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Holiday</div>
                                      </a>
                                      <a href="/collections/discontinued" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Sale</div>
                                      </a>
                                      <a href="/products/imani-collective-gift-card" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Gift Cards</div>
                                      </a>
                                    </div>
                                  </div>
                                  
                                  <div class="nav-flex-col-mega">
                                    <a href="/collections/all" class="nav-flex-link-mega nav-flex-link-mega-6 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Shop All</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/collections/imani-pillow-collection" class="nav-flex-link-mega nav-flex-link-mega-5 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Pillows</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/collections/imani-wall-hangings-collection" class="nav-flex-link-mega nav-flex-link-mega-7 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Banners</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/collections/just-launched" class="nav-flex-link-mega nav-flex-link-mega-8 w-inline-block">
                                      <div class="nav-flex-link-mega-text">New Arrivals</div>
                                    </a>
                                  </div>
                                </div>
                              </nav>
            </div>
            <div data-hover="1" data-delay="0" class="w-dropdown nav-dropdown">
              <div class="nav-link nav-link-dropdown w-dropdown-toggle">
                <div class="nav-dropdown-text">Get Involved&nbsp;</div>
              </div>
              <nav class="nav-dropdown-list-mega nav-dropdown-list-mega-3 w-dropdown-list">
                                <div class="nav-flex-row-mega">
                                  <div class="nav-flex-col-mega nav-flex-col-mega-menu">
                                    <div class="nav-flex-col-mega-inner">
                                      <a href="/pages/brand-ambassador" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Affiliate Program</div>
                                      </a>
                                      <a href="/pages/internship" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Careers</div>
                                      </a>
                                      <a href="/pages/volunteer" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Volunteer</div>
                                      </a>
                                      <a href="/pages/give" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>Partnerships</div>
                                      </a>
                                      <a href="/pages/experience" class="nav-flex-col-menu-link-mega w-inline-block">
                                        <div>The Imani Experience</div>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/brand-ambassador" class="nav-flex-link-mega nav-flex-link-mega-9 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Affiliate<br>Program</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/internship" class="nav-flex-link-mega nav-flex-link-mega-10 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Careers</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/volunteer" class="nav-flex-link-mega nav-flex-link-mega-11 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Volunteer</div>
                                    </a>
                                  </div>
                                  <div class="nav-flex-col-mega">
                                    <a href="/pages/give" class="nav-flex-link-mega nav-flex-link-mega-12 w-inline-block">
                                      <div class="nav-flex-link-mega-text">Partnerships</div>
                                    </a>
                                  </div>
                                </div>
                              </nav>
            </div>
            {% comment %}
            <a href="/pages/press-and-events" class="nav-link w-nav-link">Press + Events</a>
            <a href="{{ section.settings.give_url }}" class="nav-link nav-link-last w-nav-link" {% if section.settings.open_new_tab == true %}target="_blank"{% endif %}>Give</a>
            {% endcomment %}
            <div class="hero-nav-social-row-mobile">
              <a href="https://www.facebook.com/imanicollective/" class="hero-nav-social-link-mobile w-inline-block" target="_blank">
                <img src="//cdn.shopify.com/s/files/1/2534/9108/files/facebook-tan-min.png" alt="Facebook Logo" class="hero-nav-social-img-mobile"></a>
                <a href="https://www.instagram.com/imanicollective/" class="hero-nav-social-link-mobile w-inline-block" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/2534/9108/files/instagram-tan-min.png" alt="Instagram Logo" class="hero-nav-social-img-mobile">
                </a>
              </div>
          </nav>
          <div class="menu-btn w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Navigation" ,
  "settings": [
      {
         "label": "Give URL",
         "id": "give_url",
         "type": "url"
      },
      {
         "label": "Open in new tab?",
         "id": "open_new_tab",
         "default":   false,
         "type": "checkbox"
      }
  ]
  
}
{% endschema %}

