<div class="home-hero-section">
  <div class="home-hero-text-wrapper">
    <div class="center-text-wrapper">
      <div class="smaller-medium-text margin-b-10 white-text">THE SELAH</div>
      <div class="general-text margin-b-20 white-text">IN PARTNERSHIP WITH TIBEB</div>
      <a href="/collections/frontpage" class="general-btn center-align w-inline-block"><img
          src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, 250px"
          alt=""
          class="btn-img">
        <div class="btn-text">SHOP NOW</div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Image Banner",
    "settings": [],
    "presets": [
      {
        "name": "Home Image Banner"
      }
    ]
  }
{% endschema %}