<div class="banner-section">
  <div class="banner-section-content-wrapper">
    <div class="banner-section-text">{{section.settings.content_text}}</div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner Section" ,
      "settings": [
         {
            "type": "richtext",
            "id": "content_text",
            "label": "Content Text"
         }
    ]
  }
{% endschema %}