<div class="instagram-section">
  <div class="instagram-text-wrapper">
    <a href="#" class="black-to-brown-link w-inline-block">
      <div class="small-tight-bold-text">@IMANICOLLECTIVE</div>
    </a>
  </div>
  <div class="instagram-placeholder">
    <div class="instagram-content">
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe
        src="https://cdn.lightwidget.com/widgets/86e30277654b5cb090f79f580dfc8ecb.html"
        scrolling="no"
        allowtransparency="true"
        class="lightwidget-widget"
        style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Instagram",
    "settings": [],
    "presets": [
      {
        "name": "Instagram"
      }
    ]
  }
{% endschema %}