<div class="bottom-cta-internal cta-leadership">
  <div class="container-xl">
    <div class="bottom-cta-flex-row">
      <div class="bottom-cta-flex-col-large">
        <div class="bottom-cta-flex-col-bg-holder bottom-cta-flex-col-bg-holder-leadership" {% if section.settings.main_image %}style="background-image: url('{{ section.settings.main_image | img_url: '1400x' }}');"{% endif %}></div>
      </div>
      <div class="bottom-cta-flex-col">
        <div class="bottom-cta-flex-col-inner">
          <h3 class="bottom-cta-heading">{{ section.settings.main_heading }}</h3>
          <div class="bottom-cta-sub-heading">{{ section.settings.sub_heading }}</div>
          <div class="bottom-cta-btn-wrapper">
            <a href="/pages/get-involved#custom-pieces-button" class="jc-button jc-secondary-button">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "CTA",
    "settings": [
      {
        "type": "richtext",
        "id": "main_heading",
        "label": "Heading Text"
      }, {
        "type": "richtext",
        "id": "sub_heading",
        "label": "Sub Heading Text"
      }, {
        "type": "image_picker",
        "id": "main_image",
        "label": "Main Image"
      }
    ]
  }
{% endschema %}