<div class="btn-wrapper-impact">
	<a href="{{ section.settings.impact_url }}" class="btn-alt w-button" target="_blank">See our Environmental Sustainability Report</a>
</div>

{% schema %}
{
  "name": "Impact Button" ,
  "settings": [
      {
         "label": "Impact URL",
         "id": "impact_url",
         "type": "url"
      }
  ]
  
}
{% endschema %}
