
<div class="hero-banner-wrapper">
	<div class="hero-banner-vid-holder">
		<div class="hero-vid-embed-wrapper">
		    <div style="padding-top: 56.17021276595745%;" id="w-node-ab39109df5f3-f7bf07a3" class="w-embed-youtubevideo hero-yt-embed">
		        <iframe
		            src="https://www.youtube.com/embed/FYfTFamdmaM?rel=0&amp;controls=1&amp;autoplay=1&amp;mute=1&amp;start=0"
		            frameborder="0"
		            style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: auto;"
		            allow="autoplay; encrypted-media"
		            allowfullscreen=""
		        ></iframe>
		    </div>
		</div>
	</div>
</div>


{% schema %}
  {
    "name": "Full Width Video"
  }
{% endschema %}