<div class="prduct-features">
  {% if section.settings.heading != blank %}
    <h3 class="mid-heading-internal" style="margin-bottom: 0;">
      {{ section.settings.heading }}
    </h3>
  {% endif %}
  {% if section.settings.image != blank %}
    <div class="container-mid">
      <div class="prduct-features__image">
        {{ section.settings.image | img_url: '1400x' | img_tag }}
      </div>
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Product features",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "features + specs"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}