<div class="info-header-wrapper">
  <div class="center-text-wrapper margin-bottom-large">
    <h1>frequently asked questions</h1>
  </div>
</div>
<div class="two-col-side-section">
  <div class="two-col-flex-row">
    <div class="info-links-grid">
      <a href="/pages/get-in-touch" class="info-link-block w-inline-block">
        <div>get in touch</div>
      </a>
      <a href="/pages/shipping-returns" class="info-link-block w-inline-block">
        <div>shipping + returns</div>
      </a>
      <a
        href="/pages/faqs"
        aria-current="page"
        class="info-link-block w-inline-block w--current">
        <div>F.A.Q.s</div>
      </a>
      <a href="/pages/product-care" class="info-link-block w-inline-block">
        <div>product care</div>
      </a>
      <a href="/pages/privacy-policy" class="info-link-block w-inline-block">
        <div>privacy policy</div>
      </a>
    </div>
    <div class="info-flex-col">
      <div class="faq-top-wrapper">
        <div class="general-text margin-b-15">Here to answer your most frequently asked questions!</div>
      </div>
      <div class="faq-individual">
        <h2 class="margin-b-15">When was Imani Collective started?</h2>
        <div class="general-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div class="faq-individual">
        <h2 class="margin-b-15">How many artisans?</h2>
        <div class="general-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div class="faq-individual">
        <h2 class="margin-b-15">How do I get the wrinkles out of my banner?</h2>
        <div class="general-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div class="faq-individual">
        <h2 class="margin-b-15">How do I become a wholesaler?</h2>
        <div class="general-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div class="faq-individual">
        <h2 class="margin-b-15">How can I thank my artisan for their work?</h2>
        <div class="general-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "FAQs",
    "settings": [],
    "presets": [
      {
        "name": "FAQs"
      }
    ]
  }
{% endschema %}