<div class="every-purchase-section">
  <div class="every-purchase-text-wrapper">
    <div class="big-medium-text margin-b-15 white-text">Every purchase empowers another human.</div>
    <div class="general-text white-text tighter-width margin-b-15">At Imani Collective, empowerment is the heartbeat of what we do. We not only provide ethical employment opportunity, but community + holistic support programs. Join us in empowering artisans.</div>
    <a href="/pages/our-impact" class="general-btn center-mob w-inline-block"><img
        src="{{ 'pink-btn.png' | asset_img_url: '250x' }}"
        loading="lazy"
        sizes="(max-width: 479px) 90vw, 250px"

        alt=""
        class="btn-img">
      <div class="btn-text">LEARN MORE</div>
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "Home richtext",
    "settings": [],
    "presets": [
      {
        "name": "Home richtext"
      }
    ]
  }
{% endschema %}