<div class="info-header-wrapper">
  <div class="center-text-wrapper margin-bottom-large">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="two-col-side-section">
  <div class="two-col-flex-row">
    <div class="info-links-grid">
      <a href="/pages/contact" class="info-link-block w-inline-block">
        <div>get in touch</div>
      </a>
      <a href="/pages/shipping-returns" class="info-link-block w-inline-block w--current">
        <div>shipping + returns</div>
      </a>
      <a href="/pages/faqs" class="info-link-block w-inline-block">
        <div>F.A.Q.s</div>
      </a>
      <a
        href="/pages/product-care"
        aria-current="page"
        class="info-link-block w-inline-block">
        <div>product care</div>
      </a>
      <a href="/pages/privacy-policy" class="info-link-block w-inline-block">
        <div>privacy policy</div>
      </a>
    </div>
    <div class="info-flex-col">
      <div class="meta-content-wrapper rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>