.jc-custom-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.jc-custom-header__top, .jc-custom-header__nav {
    max-width: 1540px;
    margin: 0 auto;
}

.fixed-nav-social-img, .fixed-nav-icon-img {
    width: 40px;
}

.jc-custom-header__header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jc-custom-header__nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.mega-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(71, 70, 69, 0.5);
    background: #fff;
    padding: 30px;
    max-height: 442px;
    margin: 0;
    justify-content: space-between;
    max-width: 1440px;
}

.list-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0
}

.list-menu__item {
    padding: 10px 50px;
    display: flex;
    font-family: brandon-grotesque,sans-serif;
    color: #474645;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500 ;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}

.list-menu__item:hover {
    color: #af7552;
}

.list-menu__item:hover + .mega-menu, .mega-menu:hover {
    display: flex;
}

.mega-menu__image-links {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.mega-menu__image-links.small {
    width: 40%;
}

.jc-custom-header__nav .mega-menu__list {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    width: 50%;
}

.jc-custom-header__nav .mega-menu__list.small {
    width: 60%;
}

.mega-menu__link, .mega-menu__submenu-link   {
    padding: 5px 20px;
    display: flex;
    font-family: brandon-grotesque,sans-serif;
    color: #474645;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}

.mega-menu__submenu-link  {
    font-weight: normal;
}

.mega-menu__link:hover, .mega-menu__submenu-link:hover {
    color: #af7552;
}

.jc-custom-header__nav .mega-menu__submenu {
    flex-direction: column;
    flex-wrap: wrap;
}

.mega-menu__image-item {
    width: 50%;
    padding: 5px 10px;
}

.large .image-size--large {
    width: 60%;
}

.large .image-size--small {
    width: 40%;
}

.mega-menu__image-link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: brandon-grotesque,sans-serif;
    color: #474645;
    font-size: 10px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}

.mega-menu__image-link:hover {
    color: #af7552;
    opacity: 0.7;
}

.mega-menu__image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.image-size--large .mega-menu__image {
    padding-top: 64.5%;
}

.mega-menu__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.mega-menu__image-label {
    display: block;
    margin-top: 5px;
    letter-spacing: 2px;
}

.jc-custom-announcement-bar {
    padding: 10px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jc-custom-announcement-bar p {
    margin: 0;
    font-family: brandon-grotesque,sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.jc-custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 5;
}

body {
    padding-top: 230px;
}

.fixed-nav-icon-flex-link, .fixed-nav-social-link, .header__heading-link {
    transition: 0.3s;
    display: flex;
}

@media (min-width: 768px) {
    .fixed-nav-icon-flex-link:hover, .fixed-nav-social-link:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 991px) {
    .jc-custom-announcement-bar {
        padding: 10px 20px;
    }
    .jc-custom-announcement-bar p {
        font-size: 12px;
        line-height: 12px;
    }
    .jc-custom-header__nav {
        display: none;
    }
}