<div class="mid-wrapper-404">
	<div class="content-wrapper-404">
		<div class="img-wrapper-404">
			<img src="//cdn.shopify.com/s/files/1/2534/9108/files/404-graphic-min.jpg"  alt="" class="img-404">
		</div>
		<p class="text-404">It looks like the page you are looking for isn't available...</p>
		<div class="btn-wrapper-404">
			<a href="/" class="btn-alt w-button">Go Back to Home Page
			</a>
		</div>
	</div>
</div>