

<div class="hero-wrapper-internal">
  <div class="container-xl">
    <div class="hero-flex-row">
      <div class="hero-flex-col-internal-shop">
        <div class="hero-flex-col-inner-internal-shop">
          <h1 class="hero-heading">Our 2019 Collection is Here</h1>
          <h2 class="hero-sub-heading">See What&#x27;s New!</h2>
          <div class="hero-btn-wrapper"><a href="#" class="btn-main-hero w-button">2019 Collection</a></div>
        </div>
      </div>
      <div class="hero-flex-col-large-internal-shop">
        <div class="hero-flex-bg-holder-internal hero-flex-bg-shop"></div>
      </div>
    </div>
  </div>
</div>
<div class="sub-hero-wrapper-shop">
  <div class="container-mid">
    <div class="sub-hero-flex-row-shop">
      <div class="sub-hero-flex-col-shop">
        <a href="#" class="sub-hero-flex-col-link-shop w-inline-block">
          <div class="sub-hero-btn-text-shop">Shop<br>Wall Hangings</div>
        </a>
      </div>
      <div class="sub-hero-flex-col-shop">
        <a href="#" class="sub-hero-flex-col-link-shop sub-hero-flex-col-link-shop-2 w-inline-block">
          <div class="sub-hero-btn-text-shop sub-hero-btn-text-shop-2">Shop<br>Pillows</div>
        </a>
      </div>
      <div class="sub-hero-flex-col-shop sub-hero-flex-col-shop-bottom">
        <a href="#" class="sub-hero-flex-col-link-shop sub-hero-flex-col-link-shop-3 w-inline-block">
          <div class="sub-hero-btn-text-shop sub-hero-btn-text-shop-3">Shop Rugs</div>
        </a>
      </div>
      <div class="sub-hero-flex-col-shop sub-hero-flex-col-shop-bottom">
        <a href="#" class="sub-hero-flex-col-link-shop sub-hero-flex-col-link-shop-4 w-inline-block">
          <div class="sub-hero-btn-text-shop sub-hero-btn-text-shop-4">Custom Pieces</div>
        </a>
      </div>
      <div class="sub-hero-flex-col-shop sub-hero-flex-col-shop-bottom">
        <a href="#" class="sub-hero-flex-col-link-shop sub-hero-flex-col-link-shop-5 w-inline-block">
          <div class="sub-hero-btn-text-shop sub-hero-btn-text-shop-5">Shop Gift IDeas</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mid-wrapper-shop">
  <div class="container-large">
    <h1 class="mid-heading-internal">All Products</h1>
    <div class="sort-wrapper-shop">
      <div class="sort-flex-row-shop">
        <div class="sort-text-shop">Sort:</div>
        <div data-delay="0" class="sort-dropdown-shop w-dropdown">
          <div class="sort-dropdown-toggle-shop w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Price (low-high)</div>
          </div>
          <nav class="sort-dropdown-list-shop w-dropdown-list"><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Price (high-low)</a></nav>
        </div>
      </div>
      <div class="sort-flex-row-shop">
        <div class="sort-text-shop">Categories</div>
        <div data-delay="0" class="sort-dropdown-shop w-dropdown">
          <div class="sort-dropdown-toggle-shop w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>All Products</div>
          </div>
          <nav class="sort-dropdown-list-shop w-dropdown-list"><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Wall Hangings</a><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Pillows</a><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Rugs</a><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Macrame</a><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Wall Hangings</a></nav>
        </div>
      </div>
    </div>
    <div class="flex-row-shop">
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/abstract-hang-sign--min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">DESERT WALL HANGING</div><div class="flex-col-price-shop">$18.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="/pages/product-page-example" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/Baby-Llama-Pillow-min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">LLAMA ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/california-pennant--min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">CALIFORNIA PENNANT</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/Macrame-Planter-min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">MACRAME PLANTER</div><div class="flex-col-price-shop">$28.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/house-pillow--min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">INTERACTIVE HOUSE PILLOW</div><div class="flex-col-price-shop">$38.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/Cactus-Ornament-min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">CACTUS ORNAMENT</div><div class="flex-col-price-shop">$16.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/you-are-loved-hang-sign-min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">YOU ARE LOVED WALL HANGING</div><div class="flex-col-price-shop">$10.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/rainbow-pillow--min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">RAINBOW PILLOW</div><div class="flex-col-price-shop">$24.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/macrame_wall_hanging.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">MACRAME WALL HANGING</div><div class="flex-col-price-shop">$48.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/Grid-Stocking-Natural-min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">GRID STOCKING</div><div class="flex-col-price-shop">$24.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/sloth-pillow--min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">SLOTH ANIMAL PILLOW</div><div class="flex-col-price-shop">$22.00</div></a></div>
      </div>
      <div class="flex-col-shop">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/palm-tree-hang-sign--min.jpg" alt="" class="flex-col-img-shop"><div class="flex-col-title-shop">PALM LEAVES WALL HANGING</div><div class="flex-col-price-shop">$10.00</div></a></div>
      </div>
    </div>
  </div>
</div>
<div class="connect-section">
  <div class="container-xl">
    <div class="connect-row w-row">
      <div class="connect-col-left w-col w-col-6"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/artisan-min.jpg" alt="" class="connect-img"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/message-min.png" alt="Paper and Pencil" class="connect-center-img"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/white-border-min.png" alt="White Border" class="connect-border-img">
        <div class="connect-design-div"></div>
      </div>
      <div class="connect-col-right w-col w-col-6">
        <div class="connect-col-content-wrapper">
          <h4 class="connect-heading">Love Your<br>Purchase?</h4>
          <p class="connect-text">drop a note to<br>the woman who<br>made your<br>product</p>
          <div class="connect-btn-wrapper"><a href="/pages/artisans" class="btn-alt w-button">Write Now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cta-section-shop">
  <div class="container-large">
    <div class="cta-content-wrapper">
      <h3 class="cta-heading-shop">Want to Become a Wholesaler?</h3>
      <div class="cta-btn-wrapper"><a href="/pages/wholesale" class="btn-alt w-button">Learn More</a></div>
    </div>
  </div>
</div>

