<h1 class="hero-text-heading hero-text-heading-artisan">artisans + staff</h1>
{% section 'jc-artisan-hero-banner' %}

<div class="hero-wrapper-internal">
  <div class="container-large">
    <div class="grid-wrapper-artisan">

      {% section 'artisan-grid-location-1' %}
      {% section 'artisan-grid-location-2' %}
      {% section 'artisan-grid-location-3' %}
      {% section 'artisan-grid' %}

    </div>
  </div>
</div>
{% section 'jc-artisan-cta-section' %}


<script type="text/javascript">
  $(document).ready(function() { 
  $('a[data-ix="artisan-modal-open"]').click(function(e) {
              e.preventDefault();
              $('body').css('overflow', 'hidden');
          });
  
          $('a[data-ix="artisan-modal-close"]').click(function(e) {
              e.preventDefault();
              $('body').css('overflow', 'auto');
          });
  
     });</script>