
<div class="hero-wrapper-internal">
  <div class="container-xl">
    <div class="hero-flex-row">
      <div class="hero-flex-col-internal-shop">
        <div class="hero-flex-col-inner-internal-shop">
          <h1 class="hero-heading">Bring Some Personality Into Your Home</h1>
          <div class="hero-btn-wrapper"><a href="/pages/shop-all" class="btn-main-hero w-button">Back to ALl Products</a></div>
        </div>
      </div>
      <div class="hero-flex-col-large-internal-shop">
        <div class="hero-flex-bg-holder-internal hero-flex-bg-category"></div>
      </div>
    </div>
  </div>
</div>
<div class="mid-wrapper-category">
  <div class="container-small">
    <div class="breadcrumb-wrapper">
      <a href="index.html" class="breadcrumb-link w-inline-block">
        <div>home</div>
      </a>
      <div class="breadcrumb-breaker">/</div>
      <a href="shop.html" class="breadcrumb-link w-inline-block">
        <div>shop</div>
      </a>
      <div class="breadcrumb-breaker">/</div>
      <a href="#" class="breadcrumb-link w-inline-block">
        <div>pillows</div>
      </a>
      <div class="breadcrumb-breaker">/</div>
      <a href="#" class="breadcrumb-link breadcrumb-link-active w-inline-block">
        <div>llama animal pillow</div>
      </a>
    </div>
    <h2 class="mid-heading-internal">pillows</h2>
    <div class="sort-wrapper-shop">
      <div class="sort-flex-row-shop">
        <div class="sort-text-shop">Sort:</div>
        <div data-delay="0" class="sort-dropdown-shop w-dropdown">
          <div class="sort-dropdown-toggle-shop w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Price (low-high)</div>
          </div>
          <nav class="sort-dropdown-list-shop w-dropdown-list"><a href="#" class="sort-dropdown-link-shop w-dropdown-link">Price (high-low)</a></nav>
        </div>
      </div>
    </div>
    <div class="flex-row-shop">
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/bear-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">BEAR ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="/pages/product-page-example" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/llama-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">LLAMA ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/narwhal-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">NARWHAL ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/hedgehog2-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">HEDGEHOG ANIMAL PILLOW</div><div class="flex-col-price-shop">$28.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/racoon-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">RACOON ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/sloth-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">SLOTH ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/unicorn-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">UNICORN ANIMAL PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/cactus-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">CACTUS PLANT PILLOW</div><div class="flex-col-price-shop">$28.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/cloud-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">CLOUD PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/rainbow-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">Rainbow Pillow</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/interactive-house-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">INTERACTIVE HOUSE PILLOW</div><div class="flex-col-price-shop">$20.00</div></a></div>
      </div>
      <div class="flex-col-category">
        <div class="flex-col-inner-shop"><a href="#" class="flex-col-link-block-shop w-inline-block"><img src="//cdn.shopify.com/s/files/1/2534/9108/files/custom-pillow-min.jpg" alt="" class="flex-col-img-category"><div class="flex-col-title-shop">CUSTOMIZE YOUR PILLOW</div><div class="flex-col-price-shop">$28.00</div></a></div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-wrapper-category">
  <div class="container-mid">
    <h3 class="mid-heading-internal">Other Product Categories</h3>
    <div class="bottom-flex-row-category">
      <div class="bottom-flex-col-category">
        <a href="#" class="bottom-flex-link-category w-inline-block">
          <div class="bottom-flex-btn-text-category"><span class="bottom-flex-btn-text-inner-category">Shop Rugs</span></div>
        </a>
      </div>
      <div class="bottom-flex-col-category">
        <a href="#" class="bottom-flex-link-category bottom-flex-link-category-2 w-inline-block">
          <div class="bottom-flex-btn-text-category"><span class="bottom-flex-btn-text-inner-category">Shop Macrame</span></div>
        </a>
      </div>
      <div class="bottom-flex-col-category">
        <a href="#" class="bottom-flex-link-category bottom-flex-link-category-3 w-inline-block">
          <div class="bottom-flex-btn-text-category"><span class="bottom-flex-btn-text-inner-category">SHop Gift Ideas</span></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="cta-section-category">
  <div class="container-large">
    <div class="cta-content-wrapper">
      <h3 class="cta-heading-category">We Create Custom Pieces</h3>
      <div class="cta-btn-wrapper"><a href="/pages/custom-pieces" class="btn-alt w-button">Learn More</a></div>
    </div>
  </div>
</div>

