
{% section 'hero-section-brand-ambassador' %}


<div class="mid-wrapper-volunteer">
  <div class="container-small">
    {% section 'jc-brand-ambassador-top-section' %}
  </div>
</div>

<div class="bottom-wrapper-brand">
  <div class="bottom-bg-brand"></div>
  <div class="container-large">
    {% section 'jc-brand-ambassador-bottom-section' %}
  </div>
</div>

{% section 'jc-modal-form' %}
