<div class="hero-wrapper-meta">
  <div class="container-small">
    <h1 class="hero-heading-meta">{{ page.title }}</h1>
    <div class="meta-content-wrapper rte">
      {{ page.content }}
    </div>
  </div>
</div>