
<div class="hero-text-wrapper hero-text-wrapper-impact">
  {% section 'jc-our-impact-hero-section' %} 
  {% section 'jc-our-impact-number-section' %} 
  {% section 'jc-our-impact-top-content-section' %}  
</div>

<div class="mid-breaker-impact">
  
</div>

<div class="bottom-wrapper-impact">
  <div class="container-xl">
  {% section 'jc-our-impact-mid-content-section' %}  
    

  </div>
  <div class="container-mid">
    {% section 'jc-our-impact-bottom-content-section' %}  
    

  </div>
</div>

{% section 'jc-our-impact-btn-section' %}


{% section 'jc-our-impact-cta-section' %}  



